/*
 * Buildulator CSS
*/
html,body {
  background: #535353;
}

body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  color: #333;
}

sub {
    font-size: 0.6em;
}

#header {
  height: 93px;
  margin: 2px;
  border: 1px solid #d4d4d3;
  background: url('../images/header.jpg') top left no-repeat #8d8574;
  text-align: left;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}

#header a {
  color: #fff;
  font-size: 24px;
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  margin: 0 0 0 23px;
  position: absolute;
  top: 89px;
}

#menu {
  height: 44px;
  margin: 2px 2px 1px 2px;
  border: 1px solid #d4d4d3;
  background: url('../images/menu.png') top left repeat-x #8d8574;
}

#menu li {
  list-style: none;
}

#mainmenu {
  position: absolute;
  top: 132px;
  margin: 0 0 0 23px;
}

#mainmenu li {
  float: left;
  padding: 0;
  margin: 0 7px 0 0;
}

#mainmenu li a {
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  display: block;
  width: 110px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 0;
  background: #9b9485;
  color: #efefef;
  text-decoration: none;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}

#mainmenu li a:hover {
  background-color: #fbe8aa;
  color: #666;
}

#mainmenu li#h_home a {
  width: 40px;
  text-indent: -3000px;
  background: url('../images/home.png') 0px 0px #9b9485;
}

#mainmenu li#h_home a:hover {
  background-position: -80px 0px;
  background-color: #fbe8aa;
}

#mainmenu li a.activeLink {
  background-color: #fed448;
  color: #2d3442;
}

#mainmenu li#h_home a.activeLink {
  background-position: -40px 0px;
  background-color: #fed448;
}

#usermenu {
  position: absolute;
  top: 135px;
  margin: 0 0 0 530px;
  width: 440px;
  font-size: 13px;
  list-style: none;
  text-align: right;
}

#usermenu li {
  display: inline;
  color: #ccc;
  padding: 0 0.6em;
  border-left: 1px solid #9b9485;
}


#usermenu li:first-child {
  border-left: none;
}

#usermenu li a, #usermenu button {
  color: #efefef;
  text-decoration: none;
}

#usermenu li a:hover, #usermenu button:hover, #usermenu button.hoverButton {
  color: #fed448;
  text-decoration: underline;
  cursor: pointer;
}

#usermenu form {
  margin: 0;
  padding: 0;
  display: inline;
}

#usermenu button {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 1em;
}


#footer {
  text-align: right;
  font-size: 0.9em;
  margin: 10px 5px 20px 0;
}

#footer ul {
  margin: 0;
  list-style: none;
}

#footer li {
  display: inline;
  padding: 0 0.6em;
  border-left: 1px solid #ccc;
}

#footer li:first-child {
  border-left: none;
}

#footer li a {
  color: #666;
  text-decoration: none;
}

#footer li a:hover {
  text-decoration: underline;
  color: #ff3333;
}

#container {
  width: 980px;
  border: 1px solid #d4d4d3;
  background: #f0f2f2;
  margin: 25px auto 10px auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

#body {
  margin: 0px 2px 35px 2px;
  text-align: left;
  line-height: 1.5em;
}

#body h1,#body h2,#body h3,#body h4,#body h5,#body h6 {
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
#body h1, #body h2,#body h3,#body h4,#body h5,#body h6 {
  margin-bottom: 0.6em;
}

#body h1 {
  font-size: 2em;
  margin: 0 0 0 15px;
  padding: 30px 0 15px 0;
  color: #666;
  font-weight: normal;
}

#body td {
  border: 1px solid #ccc;
}

#body p {
    margin-bottom: 0.6em;
}

#body div.panel {
  margin: 2px;
  border: 1px solid #d4d4d3;
  background: #fff;
}

#body div.panelContent {
  margin: 15px 15px 35px 15px;
}

#body div.sidePanel {
  float: right;
  width: 249px;
  margin: 0 10px 0 10px;
}

#body div.userWarning {
  background: #535353;
  border: 1px solid #000;
  color: #fff;
  padding: 0.6em 0;
  margin: 5px 280px 5px 2px;
}
#body div.userWarning p {
  margin: 0 1em;
}
#body div.userWarning a {
  color: #EFEFEF;
}
#body div.userWarning a:hover {
  color: #fed448;
}

#body div.exceptionMessage {
  background: #535353;
  border: 1px solid #000;
  color: #fff;
  padding: 0.6em;
  font-size: 0.8em;
  overflow: scroll;
}


p.field {
  clear: left;
}

p.field label {
  width: 180px;
  clear: left;
  float: left;
  text-align: right;
  padding: 0 1em 0 0;
  color: #9b9485;
  padding-top: 0.1em;
  font-size: 0.9em;
}

p.checkbox input {
    margin: 0 0.7em 0 195px;
}

p.checkbox label {
    width: auto;
    float: none;
    text-align: left;
    padding: 0;
    color: inherit;
}

p.field label.rteditorLabel {
  position: absolute;
  text-align: left;
  margin: 0 0 0 30px;
  overflow: hidden;
  width: 117px;
  padding: 0;
  line-height: 30px;
}

p.rteditor ul.toolbar {
  margin-left: 126px;
}

p.longfield input {
  width: 320px;
}

p.field label.error {
  font-weight: normal;
  color: #ff3333;
  float: none;
  text-align: left;
  margin-left: 10px;
  width: auto;
}
p.longfield label.error {
  display: block;
  margin-left: 195px;
}

p.field .ui-dialog label.error {
  float: left;
  margin-left: 216px;
  margin-bottom: 0.5em;
}

#adminTabs {
  font-size: 1em;
  background: #fff;
  margin: 5px 5px 20px 5px;
  border-color: #ccc;
}
#adminTabs .ui-tabs-nav li {
  font-weight: normal;
  list-style: none;
}
#adminTabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #2D3442;
}

.libraryOptions, .usersOptions {
  margin: 0 0 5px 0;
}

#formBulkAddMaterials textarea, #formImportBOM textarea {
  width: 570px;
  height: 300px;
}


#projectsList_wrapper td.column-2,
#materialsList_wrapper td.column-4,
#materialsList_wrapper td.column-5,
#materialsList_wrapper td.column-6,
#materialsList_wrapper td.column-7 {
  text-align: center;
}

#projectsList_wrapper tr.row_selected {
  cursor: pointer;
}

#body a, .ui-dialog a {
  color: #8D8574;
}

#body a:hover, ui-dialog a:hover {
  color: #4C3000;
}

#body ul, #body ol {
  margin-top: 0;
}
#body ul li {
  list-style: circle;
}
#body ol li {
  list-style: decimal;
}

#body table.dataTable {
  font-size: 0.9em;
}

#body table.dataTable thead th {
  font-size: 0.9em;
}

#body table.dataTable tr.even {
  background: #fff;
}

#body table.dataTable tr.even td.sorting_1 {
  background: #f7f7f7;
}

#body table.dataTable tr.odd {
  background: #f7f7f7;
}

#body table.dataTable tr.odd td.sorting_1 {
  background: #efefef;
}

#body table.dataTable tr.row_selected {
  background: #fbe8aa;
}

#body table.dataTable tr.row_selected td.sorting_1 {
  background: #fed448;
}

#body div.dataTables_info {
  font-size: 0.8em;
}

#body div.dataTables_wrapper div.ui-widget-header label {
  font-size: 0.9em;
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
}

th.projectName {
  width: 60%!important;
}
th.projectOccupants {
  width: 90px!important;
}
th.materialName {
  width: 30%!important;
}
th.materialMaterialType {
  width: 16%!important;
}

input.textfield {
  border: 1px solid #ccc;
}

input.number {
  text-align: right;
}

input.error {
  border: 2px solid #ff3333;
}

#body .projectInfo div.projectTemplate,
#body .projectInfo div.projectComparable {
  margin: 0 10px 0 10px;
  padding: 28px 0 0 0;
  float: left;
}

#body .projectInfo div.isComparable {
  margin-right: 0;
}

#body .projectInfo div.projectTemplate span,
#body .projectInfo div.projectComparable span {
  font-size: 1em;
  color: #fff;
  padding: 0.2em 0.5em;
  margin: 0;
  display: block;
  border: 1px solid #D4D4D3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
}

#body .projectInfo div.projectTemplate span {
  background: #ccc;
}

#body .projectInfo div.projectComparable span {
  background: #bbd7e5;
}

#body .projectInfo div.sSummaryContent {
  width: 245px;
  background: #8D8574;
  margin: 10px 0;
  padding: 10px 0;
  border: 1px solid #D4D4D3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

#body .projectInfo div.sSummaryContent h3,
#body .projectInfo div.sSummaryContent h4 {
  padding: 0;
  font-weight: normal;
}

#body .projectInfo div.sSummaryContent h3 {
  margin: 0 5px 0 10px;
  font-size: 18px;
  color: #ccc;
}

#body .projectInfo div.sSummaryContent h4 {
  margin: 15px 0 2px 10px;
  font-size: 24px;
  color: #fff;
}

#body .projectInfo div.sSummaryContent div.summaryCompare {
  margin: 10px 0 0 0;
  text-align: center;
}

#body .projectInfo div.sSummaryContent div.completionSummary,
#body .projectInfo div.sSummaryContent div.carbonSummary {
  font-size: 1em;
  color: #eee;
}

#body .projectInfo div.sSummaryContent div.completionSummary ul {
  margin: 0 0 10px 10px;
}

#body .projectInfo div.sSummaryContent div.completionSummary li {
  list-style: none;
  margin: 0;
}

#body .projectInfo div.sSummaryContent div.completionSummary li span {
  font-weight: bold;
}

#body .projectInfo div.sSummaryContent table {
  margin: 0 0 10px 10px;
  width: 220px;
}

#body .projectInfo div.sSummaryContent td {
  border: none;
  padding: 0;
  color: #ccc;
}

#body .projectInfo div.sSummaryContent td.summaryValue {
  text-align: right;
}

#body .projectInfo div.sSummaryContent tr.sSummaryTotal td {
  border-top: 1px solid #ccc;
  color: #fff;
}

#body .projectInfo div.sSummaryContent tr.sSummaryPerPerson td {
  color: #fff;
  padding: 0 0 10px 0;
}

#body .projectInfo div.sSummaryContent tr.sSummaryPerPerson td.summaryValue {
  font-size: 30px;
  padding-top: 10px;
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
}

#body .projectInfo div.sSummaryContent div.summaryTotalChange {
    height: 70px;
    width: 230px;
    margin: 0 0 0 5px;
}

#body .projectInfo div.sSummaryContent div.summaryTotalLegend {
  margin: 0 0 0 15px;
}
#body .projectInfo div.sSummaryContent div.summaryTotalLegend td {
    height: 1.2em;
    font-size: 1em;
}

#body .projectInfo div.sSummaryContent div.summaryTotalLegend td.legendColorBox {
    width: 5px;
}

#body .projectInfo div.sSummaryContent div.summaryTotalLegend td.legendLabel {
    padding-left: 5px;
}

#body .projectInfo div.summaryFixed {
  position: fixed;
}

div.comparisonPerOccupantCarbon, div.comparisonTotalCarbon {
  width: 300px;
  height: 300px;
}

#body .projectInfo  div.bomInstructions {
  font-size: 0.9em;
  margin: 0;
  padding: 10px 0 0 0;
}

#body .projectInfo  div.bomInstructions ul.ui-accordion-header {
  background: #fff;
}

#body .projectInfo  div.bomInstructions ul.ui-accordion-header li {
  list-style: none!important;
}

#body .projectInfo  div.bomInstructions ul.ui-accordion-header li a {
  color: #8D8574!important;
}

#body .projectInfo  div.bomInstructions ul.ui-accordion-header li a:hover {
  text-decoration: underline;
  color: #4C3000!important;
}

#body .projectInfo  div.bomInstructions h3 {
    margin: 0.5em 0 0 10px;
}

#body .projectInfo p.projectMetadata {
    margin: 0 280px 0 15px;
    position: relative;
    top: -5px;
    color: #666;
    font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
}

#body .projectInfo div.operatingEnergy,
#body .projectInfo div.materialsBreakdown {
  clear: left;
}

#body .projectInfo div.operatingEnergy {
  padding: 0 0 1.6em 0;
}

#body .projectInfo div.projectDescription div.content {
  border-bottom: 1px solid #ccc;
  padding: 0 0 0.6em 0;
  margin: 0 0 1.3em 0;
}

#body .projectInfo div.operatingEnergy div.contentHeader h3,
#body .projectInfo div.materialsBreakdown div.contentHeader h3 {
  margin-top: 0.3em;
}

#body .projectInfo div.operatingEnergy div.contentFooter,
#body .projectInfo div.materialsBreakdown div.contentFooter {
  clear: left;
}

#body .projectInfo div.materialsBreakdown div.bomImport {
  padding: 1em;
  border: 1px solid #CCC;
  margin: 1em 50px 3em 50px;
  padding: 1em;
  background: #F0F2F2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

#body .projectInfo div.materialsBreakdown div.bomImportButtons {
  text-align: center;
  font-size: 1.5em;
}

#body .projectInfo div.bomEmpty {
  display: none;
}

body div.actionButtons {
  width: 500px;
  text-align: right;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #948462;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em;
}

body div.actionButtons span.cancelAction a {
  margin: 0 1em 0 0;
}

body div.actionButtons span.cancelAction a:hover {
  color: #ff3333;
}


body .ui-button {
  font-size: 0.8em !important;
}

body .ui-dialog {
  width: 600px !important;
  text-align: left;
  font-size: 0.9em;
}

body .ui-dialog div.actionButtons {
  width: 97%!important;
}

body .ui-dialog .ui-selectmenu {
  font-size: 0.8em;
}

#body span.units {
  padding: 0 0 0 0.3em;
  color: #666;
  font-size: 0.9em;
}

p.field div.wysiwyg {
  margin-left: 20px;
  width: 550px;
  background: none;
}

p.field div.wysiwyg iframe.wysiwyg-input {
  height: 300px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  border: 1px solid #ccc;
}

#_c_net_triptech_buildulator_model_Preferences_homepageTitle_id label {
  width: auto;
  margin-left: 30px;
}
#_c_net_triptech_buildulator_model_Project_occupants_id input {
  width: 4em;
}



#body div.ui-accordion .ui-accordion-content {
    padding: 0.5em 0.5em 1em 0.5em;
}
#body h3.ui-accordion-header {
  margin-bottom: 0;
}
#body h3.ui-state-active {
  border-bottom: none;
}
#body h3.ui-state-active a {
  color: #2D3442;
}
#body div.ui-widget-content {
  background: #fff;
}

div.homepageContent, div.dataEntry, div.errorDetails, div.googleLogon {
  background: url('../images/content-bg.gif') top right no-repeat;
  min-height: 300px;
}

div.homepageContent div.panel, div.dataEntry div.panel,
div.errorDetails div.panel, div.googleLogon div.panel,
div.projectInfo div.panel {
  margin-right: 280px!important;
}


div.homepageContent div.newProject, div.googleLogon div.submit {
  font-size: 2em;
  text-align: center;
}

div.googleLogon div.submit {
    padding: 0.5em 0 1em 0;
}

div.homepageContent div.newProject {
  margin: 152px 0 0 0;
  width: 248px;
  position: absolute;
}


/** bomTable styles */
div.bomTable {
  font-size: 0.9em;
  border: 1px solid #ccc;
  background: url('../images/bom-content.png') top right repeat-y #fff;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}

div.bomTable input.bomText {
  border: 1px solid #ccc;
}

div.bomTable ul {
  margin: 0;
  padding: 0;
  clear: left;
}

div.bomTable li {
  margin: 0;
  padding: 0;
  clear: left;
  list-style: none!important;
}

div.bomTable li.bomSection {
  padding: 0.8em 0 0 0;
}

div.bomTable li.bomElement {
  font-style: italic;
}

div.bomTable ul.bomMaterials {
  font-style: normal;
}

div.bomTable li.bomMaterial {
  margin-left: 20px;
}

div.bomTable li input {
    font-style: normal;
}

div.bomTable li div {
  float: left;
  line-height: 1.4em;
  padding: 0.2em 4px 0.2em 0;
}

div.bomTable li.addToBOM a.addToBOM {
  padding-left: 19px;
  background: url('../images/buttons.gif') 0px 0px no-repeat;
  font-style: normal;
  margin: 0 0 0 5px;
}

div.bomTable li.addToBOM a.addToBOM:hover {
  background-position: 0px -186px;
  text-decoration: underline;
  cursor: pointer;
}

div.bomTable ul.bomSections div.bomSectionDivider {
  clear: left;
  border-bottom: 1px solid #ccc;
  padding: 0 0 0.8em 0;
  width: 656px;
}

div.bomTable ul.bomSections li.addToBOM {
  padding: 0.8em 0 0.8em 0;
  font-weight: bold;
}

div.bomTable ul.bomSections ul li.addToBOM {
  padding: 0;
  font-weight: normal;
}

div.bomTable li.bomElement li.addToBOM {
  margin-left: 20px;
}

div.bomTable li div.deleteFromBOM {
  padding: 0;
  margin: 0.35em 0 0 5px;
}
div.bomTable li div.deleteFromBOM a {
  overflow: hidden;
  display: block;
  height: 0px;
  padding: 14px 0 0 0;
  margin: 0;
  width: 14px;
  background: url('../images/buttons.gif') -1186px 0px no-repeat;
}
div.bomTable li div.deleteFromBOM a:hover {
  cursor: pointer;
  background-position: -1186px -186px
}


div.bomTable div.bomSName, div.bomTable div.bomEName, div.bomTable div.bomMName {
  margin: 0 0 0 6px;
}

div.bomTable div.bomSName {
  width: 495px;
  font-weight: bold;
}

div.bomTable div.bomEName {
  width: 376px;
}

div.bomTable div.bomMName {
  width: 357px;
}

div.bomTable div.bomAUnits, div.bomTable div.bomMUnits,
div.bomTable div.bomAQuantity, div.bomTable div.bomMQuantity,
div.bomTable div.bomSCarbon, div.bomTable div.bomACarbon, div.bomTable div.bomMCarbon {
    height: 1.4em;
    overflow: hidden;
}

div.bomTable div.bomEUnits, div.bomTable div.bomMUnits {
    width: 50px;
}

div.bomTable div.bomEQuantity, div.bomTable div.bomMQuantity {
    width: 60px;
    text-align: right;
}

div.bomTable div.bomSCarbon, div.bomTable div.bomACarbon, div.bomTable div.bomMCarbon {
    width: 125px;
    text-align: right;
}

div.bomTable div.bomHeader {
  clear: left;
  border: 1px solid #494437;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
  font-weight: normal;
  color: #fff;
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  background: url('../images/bom-header.png') 50% 50% repeat-x #8D8574;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}

div.bomTable div.bomHeader div {
    float: left;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
}

div.bomTable div.bomHeader div.bomHEdit {
  width: 150px;
  text-align: left;
}
div.bomTable div.bomHeader div.bomHEdit {
    margin: 0 0 0 3px;
    position: relative;
    top: -3px;
}


div.bomTable div.bomHeader div.bomHName {
  width: 204px;
  margin: 0 0 0 5px;
}

div.bomTable div.bomHeader div.bomHQuantity {
  width: 160px;
}

div.bomTable div.bomHeader div.bomHCarbon {
  width: 135px;
}

div.bomTable div.bomHeader div.bomHClear {
    clear: left;
    height: 1px;
    float: none;
}

div.bomTable div.bomFooter {
  background: #f2f2f2;
  clear: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
  font-weight: bold;
}

div.bomTable div.bomFooter div {
    float: left;
    height: 1.4em;
    line-height: 1.4em;
}

div.bomTable div.bomFooter div.bomFSummary {
  width: 510px;
  margin: 0 0 0 5px;
}

div.bomTable div.bomFooter div.bomFCarbon {
  width: 134px;
  text-align: right;
}

div.bomTable div.bomFooter div.bomFClear {
    clear: left;
    height: 1px;
    float: none;
}

div.bomTable div.bomAddSubmitCancelOptions {
  margin: 0 0 0 528px;
  float: none;
}
div.bomTable ul.bomMaterials div.bomAddSubmitCancelOptions {
  margin: 0 0 0 508px;
}

div.bomTable div.bomSectionNameInput,
div.bomTable div.bomElementNameInput {
  margin: 0 0 0.8em 15px;
  padding-top: 4px;
}

div.bomTable div.bomMaterialNameInput {
  margin: 0 0 0.8em 15px;
}
div.bomTable div.bomMaterialNameInput div {
  margin: 0;
  padding: 0;
}
div.bomTable input.bomSelectValue {
  display: none;
}

div.bomTable div.bomSectionNameInput input {
  width: 505px;
}

div.bomTable div.bomElementNameInput input {
  width: 370px;
}

div.bomTable div.bomMaterialNameInput input {
  width: 300px;
}

div.bomTable div.bomElementQuantityInput,
div.bomTable div.bomMaterialQuantityInput {
 padding: 4px 0 0.2em 0;
  width: 78px;
}
div.bomTable div.bomElementQuantityInput input,
div.bomTable div.bomMaterialQuantityInput input {
  width: 70px;
}

div.bomTable div.bomElementUnitsInput {
 width: 48px;
 padding: 4px 0 0.2em 0;
}
div.bomTable div.bomElementUnitsInput input {
  width: 48px;
}

div.bomTable form {
    margin-bottom: 1em;
}

div.bomTable label.error {
  float: none;
  clear: left;
  position: absolute;
  display: block;
  font-size: 0.9em;
  color: #FF3333;
  font-weight: normal;
}

div.bomTable input.bomHelpText {
  color: #999;
  font-style: italic;
}

div.bomTable .bomHidden {
  display: none;
}

div.bomTable ul.bomNotEditing .addToBOM, div.bomTable ul.bomNotEditing .deleteFromBOM {
  display: none;
}


div.bomTable ul.bomNotEditing div.bomSName {
  width: 505px;
}

div.bomTable ul.bomNotEditing div.bomEName {
  width: 395px;
}

div.bomTable ul.bomNotEditing div.bomMName {
  width: 376px;
}

/** JQuery SelectMenu customisations CSS **/
a.ui-selectmenu {
  font-size: 0.8em!important;
  color: #4C3000!important;
}
.ui-selectmenu-menu {
  font-size: 0.8em;
  line-height: 1em;
  text-align: left;
}

