/*
 * Buildulator CSS
*/
html,body {
  background: #535353;
}

body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  color: #333;
}

#header {
  height: 93px;
  margin: 2px;
  border: 1px solid #d4d4d3;
  background: url('../images/header.jpg') top left no-repeat #8d8574;
  text-align: left;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}

#header a {
  color: #fff;
  font-size: 24px;
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  margin: 0 0 0 23px;
  position: absolute;
  top: 89px;
}

#menu {
  height: 44px;
  margin: 2px 2px 1px 2px;
  border: 1px solid #d4d4d3;
  background: url('../images/menu.png') top left repeat-x #8d8574;
}

#menu li {
  list-style: none;
}

#mainmenu {
  position: absolute;
  top: 132px;
  margin: 0 0 0 23px;
}

#mainmenu li {
  float: left;
  padding: 0;
  margin: 0 7px 0 0;
}

#mainmenu li a {
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  display: block;
  width: 110px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 0;
  background: #9b9485;
  color: #efefef;
  text-decoration: none;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}

#mainmenu li a:hover {
  background-color: #fbe8aa;
  color: #666;
}

#mainmenu li#h_home a {
  width: 40px;
  text-indent: -3000px;
  background: url('../images/home.png') 0px 0px #9b9485;
}

#mainmenu li#h_home a:hover {
  background-position: -80px 0px;
  background-color: #fbe8aa;
}

#mainmenu li a.activeLink {
  background-color: #fed448;
  color: #2d3442;
}

#mainmenu li#h_home a.activeLink {
  background-position: -40px 0px;
  background-color: #fed448;
}

#usermenu {
  position: absolute;
  top: 135px;
  margin: 0 0 0 530px;
  width: 440px;
  font-size: 13px;
  list-style: none;
  text-align: right;
}

#usermenu li {
  display: inline;
  color: #ccc;
  padding: 0 0.6em;
  border-left: 1px solid #9b9485;
}

#usermenu li:first-child {
  border-left: none;
}

#usermenu li a {
  color: #efefef;
  text-decoration: none;
}

#usermenu li a:hover {
  color: #fed448;
  text-decoration: underline;
}

#footer {
  text-align: right;
  font-size: 0.9em;
  margin: 10px 5px 20px 0;
}

#footer ul {
  margin: 0;
  list-style: none;
}

#footer li {
  display: inline;
  padding: 0 0.6em;
  border-left: 1px solid #ccc;
}

#footer li:first-child {
  border-left: none;
}

#footer li a {
  color: #666;
  text-decoration: none;
}

#footer li a:hover {
  text-decoration: underline;
  color: #ff3333;
}

#container {
  width: 980px;
  border: 1px solid #d4d4d3;
  background: #f0f2f2;
  margin: 25px auto 10px auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

#body {
  margin: 0px 2px 35px 2px;
  text-align: left;
  line-height: 1.5em;
}

#body h1,#body h2,#body h3,#body h4,#body h5,#body h6 {
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
#body h1, #body h2,#body h3,#body h4,#body h5,#body h6 {
  margin-bottom: 0.6em;
}

#body h1 {
  font-size: 2em;
  margin: 0 0 0 15px;
  padding: 30px 0 15px 0;
  color: #666;
  font-weight: normal;
}

#body td {
  border: 1px solid #ccc;
}

#body p {
    margin-bottom: 0.6em;
}

#body div.panel {
  margin: 2px;
  border: 1px solid #d4d4d3;
  background: #fff;
}

#body div.panelContent {
  margin: 15px 15px 35px 15px;
}

#body div.sidePanel {
  float: right;
  width: 249px;
  margin: 0 10px 0 10px;
}

#body div.userWarning {
  background: #535353;
  border: 1px solid #000;
  color: #fff;
  padding: 0.6em 0;
  margin: 5px 280px 5px 2px;
}
#body div.userWarning p {
  margin: 0 1em;
}
#body div.userWarning a {
  color: #EFEFEF;
}
#body div.userWarning a:hover {
  color: #fed448;
}

#body div.exceptionMessage {
  background: #535353;
  border: 1px solid #000;
  color: #fff;
  padding: 0.6em;
  font-size: 0.8em;
  overflow: scroll;
}


p.field {
  clear: left;
}

p.field label {
  width: 180px;
  clear: left;
  float: left;
  text-align: right;
  padding: 0 1em 0 0;
  color: #9b9485;
  padding-top: 0.1em;
  font-size: 0.9em;
}

p.field label.rteditorLabel {
  position: absolute;
  text-align: left;
  margin: 0 0 0 30px;
  overflow: hidden;
  width: 117px;
  padding: 0;
  line-height: 30px;
}

p.rteditor ul.toolbar {
  margin-left: 126px;
}

p.longfield input {
  width: 320px;
}

p.field label.error {
  font-weight: normal;
  color: #ff3333;
  float: none;
  text-align: left;
  margin-left: 10px;
  width: auto;
}
p.longfield label.error {
  display: block;
  margin-left: 195px;
}

p.field .ui-dialog label.error {
  float: left;
  margin-left: 216px;
  margin-bottom: 0.5em;
}

#adminTabs, #libraryTabs {
  font-size: 1em;
  background: #fff;
  margin: 5px 5px 20px 5px;
  border-color: #ccc;
}
#adminTabs .ui-tabs-nav li,
#libraryTabs .ui-tabs-nav li {
  font-weight: normal;
}
#adminTabs .ui-tabs-nav li.ui-tabs-selected a,
#libraryTabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #2D3442;
}

.libraryOptions, .usersOptions {
  margin: 0 0 5px 0;
}

#formBulkAddMaterials textarea {
  width: 570px;
  height: 300px;
}


#projectsList_wrapper td.column-2,
#materialsList_wrapper td.column-3,
#materialsList_wrapper td.column-4,
#materialsList_wrapper td.column-5,
#materialsList_wrapper td.column-6,
#energySourcesList_wrapper td.column-2,
#energySourcesList_wrapper td.column-3 {
  text-align: center;
}

#projectsList_wrapper tr.row_selected {
  cursor: pointer;
}

#body a {
  color: #8D8574;
}

#body table.dataTable {
  font-size: 0.9em;
}

#body table.dataTable thead th {
  font-size: 0.9em;
}

#body table.dataTable tr.even {
  background: #fff;
}

#body table.dataTable tr.even td.sorting_1 {
  background: #f7f7f7;
}

#body table.dataTable tr.odd {
  background: #f7f7f7;
}

#body table.dataTable tr.odd td.sorting_1 {
  background: #efefef;
}

#body table.dataTable tr.row_selected {
  background: #fbe8aa;
}

#body table.dataTable tr.row_selected td.sorting_1 {
  background: #fed448;
}

#body div.dataTables_info {
  font-size: 0.8em;
}

th.projectName {
  width: 60%!important;
}
th.projectOccupants {
  width: 90px!important;
}
th.materialName {
  width: 30%!important;
}
th.energySourceName {
  width: 50%!important;
}

input.error {
  border: 2px solid #ff3333;
}

.projectInfo div#sustainabilitySummary {
  width: 245px;
  background: #8D8574;
  margin: 10px 0;
  padding: 10px 0;
  border: 1px solid #D4D4D3;
}
.projectInfo div#sustainabilitySummary h3 {
    margin: 0 5px 0 10px;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}
.projectInfo ul.metadata {
  list-style: none;
  margin: 0;
  padding: 0;
}
.projectInfo ul.metadata li {
  float: left;
  margin: 0 10px 0.3em 0;
  padding: 0;
  width: 320px;
}
.projectInfo p.projectLocation {
    margin: 0 280px 0 15px;
    position: relative;
    top: -5px;
    color: #666;
    font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
}
.projectInfo span.metadataLabel {
    color: #8D8574;
}
.projectInfo div.projectDescription,
.projectInfo div.billOfMaterials {
  clear: left;
  padding: 0.6em 0 0 0;
}
.projectInfo div.projectDescription div.content,
.projectInfo div.billOfMaterials div.content {
  border-top: 1px solid #ccc;
  padding: 0.6em 0 0 0;
}

body div.actionButtons {
  width: 500px;
  text-align: right;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #948462;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em;
}
body div.actionButtons span.cancelAction a {
  margin: 0 1em 0 0;
}
body div.actionButtons span.cancelAction a:hover {
  color: #ff3333;
}


body .ui-button {
  font-size: 0.8em !important;
}

body .ui-dialog {
  width: 600px !important;
  text-align: left;
  font-size: 0.9em;
}

#body span.units {
  padding: 0 0 0 0.3em;
  color: #666;
  font-size: 0.9em;
}

p.field div.wysiwyg {
  margin-left: 20px;
  width: 550px;
  background: none;
}

p.field div.wysiwyg iframe.wysiwyg-input {
  height: 300px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  border: 1px solid #ccc;
}

#_c_net_triptech_buildulator_model_Preferences_homepageTitle_id label {
  width: auto;
  margin-left: 30px;
}
#_c_net_triptech_buildulator_model_Project_occupants_id input {
  width: 4em;
}



#body div.ui-accordion .ui-accordion-content {
    padding: 0.5em 0.5em 1em 0.5em;
}
#body h3.ui-accordion-header {
  margin-bottom: 0;
}
#body h3.ui-state-active {
  border-bottom: none;
}
#body h3.ui-state-active a {
  color: #2D3442;
}
#body div.ui-widget-content {
  background: #fff;
}

div.homepageContent, div.dataEntry, div.errorDetails, div.googleLogon {
  background: url('../images/content-bg.gif') top right no-repeat;
  min-height: 300px;
}

div.homepageContent div.panel, div.dataEntry div.panel,
div.errorDetails div.panel, div.googleLogon div.panel,
div.projectInfo div.panel {
  margin-right: 280px!important;
}


div.homepageContent div.newProject, div.googleLogon div.submit {
  font-size: 2em;
  text-align: center;
}
div.homepageContent div.newProject {
  margin: 152px 0 0 0;
  width: 248px;
  position: absolute;
}


/** Bill of materials styles */
div.billOfMaterials {
  font-size: 0.9em;
}
div.billOfMaterials div.contentFooter {
  clear: left;
}

div.billOfMaterials ul {
  margin: 0;
  padding: 0;
}

div.billOfMaterials li {
  margin: 0;
  padding: 0;
  clear: left;
}

div.billOfMaterials li div {
  float: left;
  line-height: 1.4em;
  padding: 0.2em 4px 0.2em 0;
}

div.billOfMaterials div.bomSName {
  width: 440px;
  font-weight: bold;
}

div.billOfMaterials div.bomAName {
  width: 322px;
}

div.billOfMaterials div.bomMName {
  margin-left: 12px;
  width: 310px;
}

div.billOfMaterials div.bomSName, div.billOfMaterials div.bomSCarbon, div.billOfMaterials div.bomSEnergy {
  padding-top: 0.8em;
}
div.billOfMaterials div.bomAName, div.billOfMaterials div.bomAQuantity, div.billOfMaterials div.bomAUnits,
div.billOfMaterials div.bomACarbon, div.billOfMaterials div.bomAEnergy {
  padding-top: 0.5em;
}

div.billOfMaterials div.bomAUnits, div.billOfMaterials div.bomMUnits,
div.billOfMaterials div.bomAQuantity, div.billOfMaterials div.bomMQuantity,
div.billOfMaterials div.bomSEnergy, div.billOfMaterials div.bomAEnergy, div.billOfMaterials div.bomMEnergy,
div.billOfMaterials div.bomSCarbon, div.billOfMaterials div.bomACarbon, div.billOfMaterials div.bomMCarbon {
    height: 1.4em;
    overflow: hidden;
}

div.billOfMaterials div.bomAUnits, div.billOfMaterials div.bomMUnits {
    width: 50px;
}

div.billOfMaterials div.bomAQuantity, div.billOfMaterials div.bomMQuantity {
    width: 60px;
    text-align: right;
}

div.billOfMaterials div.bomSEnergy, div.billOfMaterials div.bomAEnergy, div.billOfMaterials div.bomMEnergy,
div.billOfMaterials div.bomSCarbon, div.billOfMaterials div.bomACarbon, div.billOfMaterials div.bomMCarbon {
    width: 100px;
    text-align: right;
    border-left: 1px solid #eee;
}

/** JQuery WYSIWYG CSS **/
div.wysiwyg {
  border: 1px solid #eee;
  padding: 5px;
  background: #fff url("../images/jquery.wysiwyg.bg.png") repeat-x top;
}

div.wysiwyg * {
  margin: 0;
  padding: 0;
}

div.wysiwyg ul.toolbar li.jwysiwyg-custom-command {
  overflow: hidden;
}

div.wysiwyg ul.toolbar {
  float: left;
  width: 100%;
  padding: 0;
}

div.wysiwyg ul.toolbar li {
  list-style: none;
  float: left;
  margin: 1px 2px 3px 0;
  background: rgb(240, 240, 240);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  clear: none;
  padding: 0
}

div.wysiwyg ul.toolbar li.separator {
  width: 1px;
  height: 16px;
  margin: 0 4px;
  border-left: 1px solid #ccc;
}

div.wysiwyg ul.toolbar li {
  text-indent: -5000px;
  opacity: 0.85;
  filter: alpha(opacity = 85);
  display: block;
  width: 16px;
  height: 16px;
  background: url('../images/jquery.wysiwyg.gif') no-repeat -64px -80px;
  border: 1px dotted rgb(240, 240, 240);
  cursor: pointer;
  margin: 0px;
}

div.wysiwyg ul.toolbar li.wysiwyg-button-hover,div.wysiwyg ul.toolbar li.active
  {
  opacity: 1.00;
  filter: alpha(opacity = 100);
  border: 1px outset rgb(224, 224, 224);
}

div.wysiwyg ul.toolbar li.active {
  background-color: rgb(255, 255, 64);
  border: 1px solid rgb(208, 208, 208);
  border-left-color: #aaa;
  border-top-color: #aaa;
  margin: 0;
}

div.wysiwyg ul.toolbar li.disabled,
div.wysiwyg ul.toolbar li.wysiwyg-button-hover.disabled,
div.wysiwyg ul.toolbar li.active.disabled
  {
  opacity: 0.5;
  filter: alpha(opacity = 50);
  border: 0px none transparent;
  padding: 1px;
  cursor: auto;
}

div.wysiwyg ul.toolbar li.bold {
  background-position: 0 -16px;
}

div.wysiwyg ul.toolbar li.italic {
  background-position: -16px -16px;
}

div.wysiwyg ul.toolbar li.strikeThrough {
  background-position: -32px -16px;
}

div.wysiwyg ul.toolbar li.underline {
  background-position: -48px -16px;
}

div.wysiwyg ul.toolbar li.highlight {
  background-position: -48px -96px;
}

div.wysiwyg ul.toolbar li.justifyLeft {
  background-position: 0 0;
}

div.wysiwyg ul.toolbar li.justifyCenter {
  background-position: -16px 0;
}

div.wysiwyg ul.toolbar li.justifyRight {
  background-position: -32px 0;
}

div.wysiwyg ul.toolbar li.justifyFull {
  background-position: -48px 0;
}

div.wysiwyg ul.toolbar li.indent {
  background-position: -64px 0;
}

div.wysiwyg ul.toolbar li.outdent {
  background-position: -80px 0;
}

div.wysiwyg ul.toolbar li.subscript {
  background-position: -64px -16px;
}

div.wysiwyg ul.toolbar li.superscript {
  background-position: -80px -16px;
}

div.wysiwyg ul.toolbar li.undo {
  background-position: 0 -64px;
}

div.wysiwyg ul.toolbar li.redo {
  background-position: -16px -64px;
}

div.wysiwyg ul.toolbar li.insertOrderedList {
  background-position: -32px -48px;
}

div.wysiwyg ul.toolbar li.insertUnorderedList {
  background-position: -16px -48px;
}

div.wysiwyg ul.toolbar li.insertHorizontalRule {
  background-position: 0 -48px;
}

div.wysiwyg ul.toolbar li.h1 {
  background-position: 0 -32px;
}

div.wysiwyg ul.toolbar li.h2 {
  background-position: -16px -32px;
}

div.wysiwyg ul.toolbar li.h3 {
  background-position: -32px -32px;
}

div.wysiwyg ul.toolbar li.h4 {
  background-position: -48px -32px;
}

div.wysiwyg ul.toolbar li.h5 {
  background-position: -64px -32px;
}

div.wysiwyg ul.toolbar li.h6 {
  background-position: -80px -32px;
}

div.wysiwyg ul.toolbar li.paragraph {
  background-position: 0px -96px;
}

div.wysiwyg ul.toolbar li.colorpicker {
  background-position: -16px -96px;
}

div.wysiwyg ul.toolbar li.fullscreen {
  background-position: -32px -96px;
}

div.wysiwyg ul.toolbar li.cut {
  background-position: -32px -64px;
}

div.wysiwyg ul.toolbar li.copy {
  background-position: -48px -64px;
}

div.wysiwyg ul.toolbar li.paste {
  background-position: -64px -64px;
}

div.wysiwyg ul.toolbar li.insertTable {
  background-position: -64px -48px;
}

div.wysiwyg ul.toolbar li.increaseFontSize {
  background-position: -16px -80px;
}

div.wysiwyg ul.toolbar li.decreaseFontSize {
  background-position: -32px -80px;
}

div.wysiwyg ul.toolbar li.createLink {
  background-position: -80px -48px;
}

div.wysiwyg ul.toolbar li.unLink {
  background-position: -64px -80px;
}

div.wysiwyg ul.toolbar li.insertImage {
  background-position: -80px -80px;
}

div.wysiwyg ul.toolbar li.html {
  background-position: -48px -48px;
}

div.wysiwyg ul.toolbar li.removeFormat {
  background-position: -80px -64px;
}

div.wysiwyg ul.toolbar li.empty {
  background-position: -64px -80px;
}

div.wysiwyg ul.toolbar li.code {
  background-position: -64px -96px;
}

div.wysiwyg ul.toolbar li.cssWrap {
  background-position: -80px -96px;
}

div.wysiwyg-dialogRow {
  float: left;
  width: 100%;
  font-size: 16px;
}

div.wysiwyg iframe {
  border: 1px solid #999;
  clear: left;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 0px;
  margin: 0;
  display: block;
  width: 100%;
}

/* dialog */
.wysiwyg-dialog {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 450px;
  height: 300px;
  background: transparent;
  font: 14px "Helvetic Neue", Helvetica, Arial, sans-serif;
}

.wysiwyg-dialog .wysiwyg-dialog-topbar {
  background: #333;
  border: 1px #111 solid;
  color: white;
  padding: 10px;
  position: relative;
}

.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper .wysiwyg-dialog-close-button
  {
  color: white;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
  position: absolute;
  right: 12px;
  top: 50%;
  height: 14px;
  margin-top: -12px;
}

.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper a.wysiwyg-dialog-close-button:hover
  {
  background: #666;
}

.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.wysiwyg-dialog .wysiwyg-dialog-content {
  border: 1px #ccc solid;
  border-top: 0;
  padding: 15px;
  background: white;
}

.wysiwyg-dialog-modal-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000 );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.wysiwyg-dialog-content form.wysiwyg fieldset {
  border: 1px #ccc solid;
}

.wysiwyg-dialog-content form.wysiwyg legend {
  padding: 7px;
}

.wysiwyg-dialog-content form.wysiwyg .form-row {
  clear: both;
  padding: 4px 0;
}

.wysiwyg-dialog-content form.wysiwyg .form-row label,.wysiwyg-dialog form.wysiwyg .form-row .form-row-key
  {
  display: block;
  float: left;
  width: 35%;
  text-align: right;
  padding: 4px 5px;
}

.wysiwyg-dialog-content form.wysiwyg .form-row .form-row-value {
  display: block;
  float: left;
  width: 55%;
}

.wysiwyg-dialog-content form.wysiwyg .form-row input.width-auto {
  width: auto;
}

.wysiwyg-dialog-content form.wysiwyg input.width-small {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.wysiwyg-dialog-content form.wysiwyg input,.wysiwyg-dialog form.wysiwyg select
  {
  padding: 2px;
  width: 100%;
  margin: 2px;
}

.wysiwyg-dialog-content form.wysiwyg input[type=submit],.wysiwyg-dialog form.wysiwyg input[type=reset]
  {
  padding: 2px 7px;
  width: auto;
}

/** Gritter CSS */
#gritter-notice-wrapper {
    position:fixed;
    top:20px;
    right:20px;
    width:301px;
    z-index:9999;
}
#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}
#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}
#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}
.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
    background:url('../images/ie-spacer.gif'); /* ie7/8 fix */
}
.gritter-top {
    background:url(../images/gritter.png) no-repeat left -30px;
    height:10px;
}
.hover .gritter-top {
    background-position:right -30px;
}
.gritter-bottom {
    background:url(../images/gritter.png) no-repeat left bottom;
    height:8px;
    margin:0;
}
.hover .gritter-bottom {
    background-position: bottom right;
}
.gritter-item {
    display:block;
    background:url(../images/gritter.png) no-repeat left -40px;
    color:#eee;
    padding:2px 11px 8px 11px;
    font-size: 11px;
    font-family:verdana;
}
.hover .gritter-item {
    background-position:right -40px;
}
.gritter-item p {
    padding:0;
    margin:0;
}
.gritter-close {
    display:none;
    position:absolute;
    top:5px;
    left:3px;
    background:url(../images/gritter.png) no-repeat left top;
    cursor:pointer;
    width:30px;
    height:30px;
}
.gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow:1px 1px 0 #000; /* Not supported by IE :( */
}
.gritter-image {
    width:48px;
    height:48px;
    float:left;
}
.gritter-with-image,
.gritter-without-image {
    padding:0 0 5px 0;
}
.gritter-with-image {
    width:220px;
    float:right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: url(../images/gritter-light.png);
    color: #222;
}
.gritter-light .gritter-title {
    text-shadow: none;
}

/** JQuery SelectMenu customisations CSS **/
a.ui-selectmenu {
  font-size: 0.8em;
  color: #4C3000!important;
}
.ui-selectmenu-menu {
  font-size: 0.8em;
  line-height: 1em;
  text-align: left;
}

/** JQuery SelectMenu CSS **/
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 2.2em; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; }
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden; }
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 2.1em .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a { }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content { }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }
